.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: rgb(51, 51, 51);
  width: 100%;
  height: 50px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.uol-image {
  height: 20px;
}

#home-title {
  font-weight: 500;
}

.header-title-container {
  width: 85%;
}

.line {
 height: 1px;
  width: 100%;
 background-color: rgb(219, 219, 219);

}
